<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>

    <ion-title>{{ 'PRIVACY.PAGE_TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="12" size-md="10" size-lg="8">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              {{ 'PRIVACY.CARD_TITLE' | translate }}
            </ion-card-title>

            <ion-card-subtitle>
              {{ 'PRIVACY.LAST_UPDATE' | translate }}
            </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content class="ion-text-justify">
            <ion-text color="dark">
              <p class="ion-padding-bottom" [innerHTML]="'PRIVACY.WELCOME' | translate"></p>

              <h2>{{ 'PRIVACY.SEC1_TITLE' | translate }}</h2>
              <p [innerHTML]="'PRIVACY.SEC1_DESC' | translate"></p>

              <h2>{{ 'PRIVACY.SEC2_TITLE' | translate }}</h2>
              <p [innerHTML]="'PRIVACY.SEC2_DESC' | translate"></p>

              <h2>{{ 'PRIVACY.SEC3_TITLE' | translate }}</h2>
              <p [innerHTML]="'PRIVACY.SEC3_DESC' | translate"></p>

              <h2>{{ 'PRIVACY.SEC4_TITLE' | translate }}</h2>
              <p [innerHTML]="'PRIVACY.SEC4_DESC' | translate"></p>

              <h2>{{ 'PRIVACY.SEC5_TITLE' | translate }}</h2>
              <p [innerHTML]="'PRIVACY.SEC5_DESC' | translate"></p>

              <h2>{{ 'PRIVACY.SEC6_TITLE' | translate }}</h2>
              <p [innerHTML]="'PRIVACY.SEC6_DESC' | translate"></p>
            </ion-text>
          </ion-card-content>
        </ion-card>

        <div class="ion-text-center ion-padding">
          <ion-note>
            {{ 'PRIVACY.FOOTER_NOTE' | translate }}
          </ion-note>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-title size="small" class="ion-text-center">
      v1.0.0
    </ion-title>
  </ion-toolbar>
</ion-footer>