<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'HOME.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="12" size-md="8" size-lg="6">
        <ion-accordion-group expand="inset">
          <!-- Technical Support Accordion -->
          <ion-accordion value="support">
            <ion-item slot="header" color="light">
              <ion-icon slot="start" name="mail" color="primary"></ion-icon>

              <ion-label>
                <p>{{ 'HOME.SUPPORT_SUB' | translate }}</p>
                <h2>{{ 'HOME.SUPPORT_TITLE' | translate }}</h2>
              </ion-label>
            </ion-item>

            <div class="ion-padding" slot="content">
              <p>{{ 'HOME.SUPPORT_DESC' | translate }}</p>

              <ion-button expand="block" fill="outline" href="mailto:alessandrycruz@gmail.com" class="ion-margin-top">
                <ion-icon slot="start" name="mail"></ion-icon>

                {{ 'HOME.SUPPORT_BTN' | translate }}
              </ion-button>
            </div>
          </ion-accordion>

          <!-- Privacy Accordion -->
          <ion-accordion value="privacy">
            <ion-item slot="header" color="light">
              <ion-icon slot="start" name="shield-checkmark" color="primary"></ion-icon>

              <ion-label>
                <p>{{ 'HOME.PRIVACY_SUB' | translate }}</p>
                <h2>{{ 'HOME.PRIVACY_TITLE' | translate }}</h2>
              </ion-label>
            </ion-item>

            <div class="ion-padding" slot="content">
              <p>{{ 'HOME.PRIVACY_DESC' | translate }}</p>

              <ion-item lines="none" [button]="true" detail="true" routerLink="/privacy-policy" class="ion-margin-top">
                <ion-label color="primary">
                  {{ 'HOME.PRIVACY_BTN' | translate }}
                </ion-label>
              </ion-item>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-title size="small" class="ion-text-center">
      v1.0.0
    </ion-title>
  </ion-toolbar>
</ion-footer>