<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'HOME.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="12" size-md="8" size-lg="6">
        <!-- Technical Support Card -->
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>{{ 'HOME.SUPPORT_SUB' | translate }}</ion-card-subtitle>
            <ion-card-title>{{ 'HOME.SUPPORT_TITLE' | translate }}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            {{ 'HOME.SUPPORT_DESC' | translate }}
          </ion-card-content>

          <ion-item [button]="true" detail="true" href="mailto:alessandrycruz@gmail.com">
            <ion-icon slot="start" name="mail-outline"></ion-icon>
            <ion-label>{{ 'HOME.SUPPORT_BTN' | translate }}</ion-label>
          </ion-item>
        </ion-card>

        <!-- Privacy Card -->
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>{{ 'HOME.PRIVACY_SUB' | translate }}</ion-card-subtitle>
            <ion-card-title>{{ 'HOME.PRIVACY_TITLE' | translate }}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            {{ 'HOME.PRIVACY_DESC' | translate }}
          </ion-card-content>

          <ion-item [button]="true" detail="true" routerLink="/privacy-policy">
            <ion-icon slot="start" name="shield-checkmark-outline"></ion-icon>
            <ion-label>{{ 'HOME.PRIVACY_BTN' | translate }}</ion-label>
          </ion-item>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer [translucent]="true">
  <ion-toolbar>
    <ion-title size="small" class="ion-text-center">
      v1.0.0
    </ion-title>
  </ion-toolbar>
</ion-footer>